<html>
	<head>
		<title>Electric Avenue</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css">
		<style type="text/css">
			[ng\:cloak], [ng-cloak], .ng-cloak {
		        display: none !important;
		    }
			div {
				padding: 10px;
			}
			span {
				width: 100px;
				display: inline-block;
				text-align:right;
				padding: 5px 5px 0px 5px;
			}
			label {
				float: left;
			}
			input {
				width: 50px;
			}
			#green span {
				background-color:green;
				color:white;
			}
			#black span {
				background-color:black;
				color:white;
			}
			#yellow span {
				background-color:yellow;
				color:black;
			}
			#blue span {
				background-color:blue;
				color:white;
			}
			#red span {
				background-color:red;
				color:black;
			}
			#purple span {
				background-color:purple;
				color:white;
			}
		</style>
	</head>
	<body>
		<h1>Power Grid Money Calculator</h1>
		<ul ng-app="" class="ng-cloak">
			<div id="green" ng-init="green = 50">
				<span><label>Green</label>{{ green }}</span>
				<input type="number" name="green.input" ng-model="greenInput" />
				<button name="green.plus" ng-click="green = green + greenInput">+</button>
				<button name="green.minus" ng-click="green = green - greenInput">-</button>
			</div>
			<div id="red" ng-init="red = 50">
				<span><label>Red</label>{{ red }}</span>
				<input type="number" name="red.input" ng-model="redInput" />
				<button name="red.plus" ng-click="red = red + redInput">+</button>
				<button name="red.minus" ng-click="red = red - redInput">-</button>
			</div>
			<div id="blue" ng-init="blue = 50">
				<span><label>Blue</label>{{ blue }}</span>
				<input type="number" name="blue.input" ng-model="blueInput" />
				<button name="blue.plus" ng-click="blue = blue + blueInput">+</button>
				<button name="blue.minus" ng-click="blue = blue - blueInput">-</button>
			</div>
			<div id="yellow" ng-init="yellow = 50">
				<span><label>Yellow</label>{{ yellow }}</span>
				<input type="number" name="yellow.input" ng-model="yellowInput" />
				<button name="yellow.plus" ng-click="yellow = yellow + yellowInput">+</button>
				<button name="yellow.minus" ng-click="yellow = yellow - yellowInput">-</button>
			</div>
			<div id="purple" ng-init="purple = 50">
				<span><label>Purple</label>{{ purple }}</span>
				<input type="number" name="purple.input" ng-model="purpleInput" />
				<button name="purple.plus" ng-click="purple = purple + purpleInput">+</button>
				<button name="purple.minus" ng-click="purple = purple - purpleInput">-</button>
			</div>
			<div id="black" ng-init="black = 50">
				<span><label>Black</label>{{ black }}</span>
				<input type="number" name="black.input" ng-model="blackInput" />
				<button name="black.plus" ng-click="black = black + blackInput">+</button>
				<button name="black.minus" ng-click="black = black - blackInput">-</button>
			</div>
		</ul> 
		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	</body>
</html>
